html {
    font-size: calc(100vw/1440 * 10);
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background: #fff;
    height: auto;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
@font-face {
    font-family: Gilroy;
    src: url('fonts/gilroy/Gilroy-Light.otf');
}
@font-face {
    font-family: GilroyB;
    src: url('fonts/gilroy/Gilroy-Bold.ttf');
}
@font-face {
    font-family: Matter;
    src: url('fonts/matter/Matter-Regular.ttf');
}
@font-face {
    font-family: Aventa;
    src: url('fonts/aventa/Aventa-Light.otf');
}






.flex {
    display: flex;
}
.flex-50 {
    flex: 0 1 50%;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column {
    flex-direction: column;
}
a {
    text-decoration: none;
    color: inherit;
}
.white {
    color: #fff;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.flex-justify {
    justify-content: center;
}
.flex-around {
    justify-content: space-around;
}
.flex-between {
    justify-content: space-between;
}
.flex-even {
    justify-content: space-evenly;
}
.flex-center {
    align-items: center;
}
.flex-end {
    align-items: flex-end;
}
.flex-start {
    align-items: flex-start;
}
.centering {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.padding-0 {
    padding: 0;
}
.margin-0 {
    margin: 0;
}
img, video {
    height: 100%;
    width: 100%;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.align-center {
    justify-content: center;
    align-items: center;
}
li, ul {
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
}
.relative {
    position: relative;
}


#mob-header {
    display: none;
}
.header-row {
    padding: 0 8rem 0 9rem;
    height: 8rem;
}
.nav-list {
    background: #fbfbfd;
    gap: 1.7rem;
    border-radius: 2rem;
    transition: all 400ms ease;
}
.creators-nav-padding {
    padding: 1.2rem 0 1.2rem 2.6rem;
}
.attendees-nav-padding {
    padding: 1.2rem 2.6rem 1.2rem 0;
}
.active-event {
    background: #fff;
    padding: 1rem 2.4rem;
    border-radius: 2rem;
    color: #ea445a;
    font-weight: 900;
    box-shadow: 0 0.4rem 2rem rgba(6, 6, 11, 0.05);
}
.nav-logo {
    width: 16rem;
    height: 8rem;
    margin-right: 35rem;
}
.header-nav {
    width: 110rem;
}
.inner-nav-list {
    font-family: Aventa;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #666481;
    font-weight: 400;
}
.gruve-color {
    color: #ea445a;
}
.home-color {
    background: linear-gradient(89.85deg, #DA151E -1.04%, #FF515A 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.nav-btn {
    width: 17.6rem;
    height: 5.2rem;
    border-radius: 20rem;
    background: linear-gradient(89.85deg, #DA151E -1.04%, #FF515A 99.88%);
    padding: 1.6rem 0;
    margin: 1.3rem 0 1.5rem;
}
.nav-btn-p {
    font-family: Gilroy;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fbfbfd;
}


.hero-container {
    margin: 2.9rem 0 20rem 11.2rem;
}
.hero-attendees-container {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 2.9rem auto 20rem;
}
.hero-intro-container {
    width: 61rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto 0;
    transform: translateX(-100%);
}
.attendees-hero-header {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    width: 36rem;
}
.light-text {
    font-family: Gilroy;
    font-weight: 300;
}
.attendees-hero-text {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 2.2rem auto 4.2rem;
}
.hero-video-container {
    width: 70.9rem;
    height: 70rem;
    border-radius: 4rem 0 0 4rem;
    background-image: url("img/hero-video.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(100%);
}
.hero-h {
    font-family: GilroyB;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #666481;
    gap: 1rem;
}
.hero-h-color {
    width: 7.8rem;
    height: 4rem;
    padding: .8rem 1.6rem;
    background: #f0f4ff;
    border-radius: 10rem;
}
.hero-h-color p {
    background: linear-gradient(90deg, #5D82F1 2.27%, rgba(93, 130, 241, 0.8) 101.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    font-family: GilroyB;
}
.hero-h-img {
    width: 3.2rem;
    height: 3.2rem;
}
.hidden {
    opacity: 0;
    transition: all 1000ms ease-in-out;
    filter: blur(.5rem);
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.attendees-hero-text {
    margin: 2.2rem 6rem 4.2rem 0;
}
.attendees-hero-p-wrapper {
    width: 85rem;
    margin: 0 auto 2.4rem;
}
.hero-p-wrapper {
    width: 47.8rem;
    margin-bottom: 2.4rem;
}
.attendees-hero-small-text {
    width: 65rem;
    margin: 0 auto;
}
.hero-small-text {
    width: 53.2rem;
    margin-bottom: 2.4rem;
}
.hero-small-p {
    font-family: Aventa;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #666481;
}
.hero-p {
    font-family: GilroyB;
    font-size: 6.4rem;
    line-height: 7.9rem;
    font-weight: 700;
    color: #06060b;
}
.attendees-hero-p {
    font-size: 8.8rem;
    line-height: 10.9rem;
}
.hero-btn-container {
    gap: 2.4rem;
}
.attendees-btn-container {
    justify-content: center;
    gap: 2.4rem;
}
.hero-input {
    width: 35rem;
    height: 7.2rem;
    padding: 2.4rem 0 2.4rem 2.4rem;
    background: #fbfbfd;
    border: .1rem solid #e1e1e8;
    border-radius: 1.6rem;
}
.attendees-hero-input {
    width: 62.8rem;
}
input::-webkit-input-placeholder {
    font-family: Aventa;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #717171;
}
.attendees-hero-btn {
    width: 27.6rem;
    height: 7.2rem;
    border-radius: 10rem;
    background: #ea445a;
    padding: 2rem 4.8rem;
    gap: 1.6rem;
}
.hero-cta-btn {
    width: 16.3rem;
    height: 5.6rem;
    border-radius: 10rem;
    background: #ea445a;
    padding: 1.6rem 3.2rem;
    gap: 1.6rem;
}
.hero-btn-p {
    font-family: Aventa;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #fbfbfd;
}
.hero-btn-img {
    width: 3.2rem;
    height: 3.2rem;
}


.whyGruve-container {
    margin: 0 2rem 15rem;
}
.whyGruve-benefits-text {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto 6.4rem;
}
.whyGruve-header {
    width: 84.8rem;
    margin: 0 auto 1.6rem;
}
.whyGruve-attendees-header {
    width: 67rem;
    margin: 0 auto 1.6rem;
}
.whyGruve-attendees-h {
    font-family: GilroyB;
    font-weight: 700;
    font-size: 7.2rem;
    line-height: 8.9rem;
    color: #06060b;
}
.whyGruve-small-text {
    width: 66rem;
    margin: 0 auto;
}
.whyGruve-attendees-small-text {
    width: 46rem;
    margin: 0 auto;
}
.whyGruve-cards-container {
    padding: 0 5rem;
    gap: 4rem;
}
.whyGruve-attendees-card-container {
    gap: 2.4rem;
    padding: 0 8rem;
}
.whyGruve-card {
    width: 28.6rem;
    height: 22.8rem;
    border-radius: 2.4rem;
    background: #fbfbfd;
    padding: 2.4rem;
    transform: translateY(100%);
    transition: all 1000ms ease;
}
.hiddenCards {
    opacity: 0;
    filter: blur(.5rem);
}
.whyGruve-card:nth-child(2) {
    transition-delay: 150ms;
}
.whyGruve-card:nth-child(3) {
    transition-delay: 300ms;
}
.whyGruve-card:nth-child(4) {
    transition-delay: 450ms;
}
.showcard {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
.whyGruve-attendees-card {
    width: 38.9rem;
    height: 37.6rem;
    border-radius: 1.6rem;
    background: #fbfbfd;
    padding:  5rem 4rem 0;
}
.whyGruve-attendees-img-container {
    width: 18.4rem;
    height: 7.7rem;
    margin: 0 auto 2.4rem;
}
.whyGruve-card-img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 20rem;
    background: #e9eeff;
}
.whyGruve-img-container {
    width: 2.4rem;
    height: 2.4rem;
}
.whyGruve-img-container img {
    margin: 1.2rem 1.3rem;
}
.whyGruve-attendees-card-header {
    margin: 0 auto 2.4rem;
}
.whyGruve-card-header {
    margin: 2.4rem 0 .8rem;
}
.whyGruve-attendees-card-h {
    font-family: GilroyB;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;
    color: #06060b;
}
.whyGruve-card-h {
    color: #111021;
}
.whyGruve-card-p {
    font-family: Aventa;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #666481;
    letter-spacing: 0.025rem;
}



.overlapping-content-container {
    margin: 0 9.6rem 30rem;
}
.overlapping-content-header {
    width: 65rem;
    margin: 0 auto 8rem;
}
.overlapping-cards-container {
    min-height: 100vh;
}
.overlapping-card {
    width: 124.8rem;
    height: 61.6rem;
    border-radius: 1.6rem;
    background: #06060b;
    position: relative;
    margin-bottom: 5rem!important;
}
.overlapping-card:nth-child(1) {
    background: url("img/trending-events.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 2rem;
    z-index: 5;
}
.overlapping-card:nth-child(2) {
    background: url("img/easy-payment.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: calc(2rem * 2);
    z-index: 4;
}
.overlapping-card:nth-child(3) {
    background: url("img/social-life.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: calc(2rem * 3);
    z-index: 3;
}
.overlapping-card:nth-child(4) {
    background: url("img/new-xperience.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: calc(2rem * 4);
    z-index: 2;
}
.overlapping-card:nth-child(5) {
    background: url("img/privacy.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: calc(2rem * 5);
    z-index: 1;
}
.overlapping-card-header {
    width: 33rem;
    margin: 0 auto 2.4rem;
}
.overlapping-h {
    font-size: 4.4rem;
    line-height: 5.2rem;
    font-weight: 700;
    font-family: GilroyB;
}
.overlapping-p {
    color: #fff;
}
.overlapping-card-text {
    width: 31rem;
    margin: 0 auto;
}



.motive-container {
    margin: 0 11.3rem 15rem;
    background: #fbfbfd;
    background-image: url("img/hand-holding-bulb.svg");
    background-repeat: no-repeat;
    background-position: 67rem;
}
.motive-creators-container {
    margin: 0 11.3rem 15rem;
    background: #fbfbfd;
    background-image: url("img/hand-shake.svg");
    background-repeat: no-repeat;
    background-position: 64rem;
}
#motive-header-sm {
    display: none;
}
.motive-card {
    background: #fff;
    width: 70.7rem;
    height: 47.2rem;
    border-radius: 1.6rem;
    padding: 7.6rem 5.6rem;
    margin: 7.2rem 0 7.2rem 4.8rem;
}
.motive-creators-card {
    padding: 9.6rem 0 9.6rem 4rem;
}
.motive-card-header {
    margin-bottom: 2.4rem;
}
.creators-card-text {
    width: 42rem;
    margin-bottom: 3.2rem;
}
.motive-card-p {
    font-size: 1.4rem;
    letter-spacing: 0.025rem;
}
.creators-cta-btn {
    width: 19.5rem;
    height: 7.2rem;
    border-radius: 10rem;
    background: #ea445a;
    gap: 1.6rem;
    padding: 2.4rem 1.8rem;
}
.motive-icon {
    width: 51.2rem;
    height: 51.2rem;
    display: none;
}
.motive-creators-icon {
    width: 56.2rem;
    height: 39.5rem;
    display: none;
}




.create-and-sell-container {
    margin: 0 0 14.6rem 2rem;
}
.cards-container {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.cards-container::-webkit-scrollbar {
    display: none;
}
.create-and-sell-card {
    width: 140rem;
    height: 100vh;
    border-radius: 2.4rem;
}
.three-easy-steps {
    background-image: url("img/3easy.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.connect-wallet-line svg {
    position: absolute;
    top: 9.4rem;
    left: 25.8rem;
}
#line path {
    stroke-dasharray: 200;
    stroke-dashoffset: 50;
    animation: lineAnimate 5s infinite;
}
.create-ticket-line {
    position: absolute;
    top: 6rem;
    left: 0;
}
.list-ticket-line {
    position: absolute;
    top: 7rem;
    left: 0;
}
.connect-wallet {
    background: #06060b;
    position: absolute;
    top: 0;
    left: 143rem;
}
.create-ticket {
    background: #c81030;
    position: absolute;
    top: 0;
    left: 288rem;
}
.list-ticket {
    background: #5d82f1;
    position: absolute;
    top: 0;
    left: 432rem;
}
.connect-wallet, .create-ticket, .list-ticket {
    align-items: center;
    align-content: center;
    padding: 0 9.6rem;
}
.three-easy-steps-img {
    width: 31rem;
    height: 15rem;
}
.three-easy-steps-header {
    width: 84rem;
    margin: 2.4rem 0 2.6rem;
    padding-left: 8rem;
}
.three-easy-steps-h {
    font-family: GilroyB;
    font-size: 8.8rem;
    line-height: 11rem;
    font-weight: 800;
    color: #fff;
}
.create-and-sell-btn {
    margin-left: 8rem;
}


.number-one-container {
    width: 8rem;
    height: 8rem;
    border-radius: .8rem;
    border: .4rem dashed #2053ec;
    padding-top: .5rem;
}
.number-two-container {
    border: .4rem dashed #fbfbfd;
}
.number-three-container {
    border: .4rem dashed #fff;
}
.number-one-h {
    font-family: Aventa;
    font-size: 4.8rem;
    line-height: 5.9rem;
    font-weight: 400;
    color: #fbfbfd;
}
.connect-wallet-header {
    margin: 2.4rem 0;
    width: 52rem;
}
.connect-wallet-h {
    font-family: GilroyB;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.9rem;
    color: #fbfbfd;
}
.list-ticket-h {
    line-height: 6.4rem;
}
.connect-wallet-text {
    width: 41rem;
}
.connect-wallet-p {
    font-family: Aventa;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #fbfbfb;
    letter-spacing: 0.01rem;
}
.connect-wallet-img {
    width: 59.8rem;
    height: 37.3rem;
    background: #fbfbfd;
    border-radius: .8rem;
    padding: 2.4rem 1.6rem;
}
.picture-container, .event-managers-video {
    width: 56.6rem;
    height: 32.5rem;
}
.create-ticket-img {
    padding: 3.2rem 0;
    width: 30rem;
    height: 50rem;
}
.create-ticket-video, .create-ticket-picture-container {
    width: 30rem;
    height: 45rem;
}



.creators-container {
    margin: 0 11.3rem 15rem;
}
.creators-h {
    color: #111021;
}
.creators-text {
    width: 74.7rem;
    margin: 1.6rem auto 5.6rem;
}
.creators-p {
    letter-spacing: 0.01rem;
}
.creators-list-container {
    width: 56rem;
}
.creators-benefits-container {
    height: auto;
}
.creators-svg-container {
    width: 1.2rem;
    height: 104.8rem;
    border-radius: 3.2rem;
    background: #e1e1e8;
    margin-right: 4rem;
}
.red-fill {
    width: 1.2rem;
    height: 15.8rem;
    border-radius: 2rem;
    background: #c81030;
    animation: fill 7000ms infinite;
}
.red-bulb {
    width: 1.6rem;
    height: 1.6rem;
    border-top: 0;
    background: #c81030;
    border-radius: 50%;
    position: absolute;
    top: 15.3rem;
    left: -0.5rem;
}
@keyframes fill {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}
.creators-list-text {
    width: 51rem;
    margin: .8rem 0 8rem;
}
.creators-list-h {
    font-family: GilroyB;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4rem;
    color: #111021;
}
.creators-list-p {
    letter-spacing: 0.01rem;
}
.creators-img-container {
    width: 59.7rem;
    height: 65.6rem;
    margin: 0!important;
}



.platform-container {
    margin-top: 25rem;
}
.platform-container-header {
    width: 81.1rem;
    margin: 0 auto 2.4rem;
}
.platform-container-content {
    margin-bottom: 2.4rem;
}
.platform-container-h {
    font-family: GilroyB;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 8.1rem;
    color: #111021;
}
.platform-container-h1 {
    font-family: GilroyB;
    font-weight: 700;
    font-size: 8.8rem;
    line-height: 10.9rem;
    color: #06060b;
}
.platform-container-text {
    width: 111.8rem;
    margin: 0 auto 8rem;
}
.platform-container-p {
    font-family: Aventa;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    color: #717171;
}
#platform-cards-container-md {
    display: none;
}
.platform-cards-firstContainer {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto 3.2rem;
    gap: 2.4rem;
}
.platform-cards-secondContainer {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto 12rem;
    gap: 2.4rem;
}
.platform-card {
    width: 37.5rem;
    height: 42.2rem;
    background: #fff;
    border: .1rem solid #e1e1e1;
    border-radius: 2rem;
    padding: 1.6rem;
    transition: all 400ms ease-in-out;
}
.platform-card-img, .platform-card-video, .platform-video-wrapper {
    width: 34.2rem;
    height: 23.4rem;
}
.platform-card-img  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.platform-card-video {
    position: absolute;
}
.platform-card-header {
    margin: 2.4rem 0 .8rem;
}
.platform-card-h {
    font-family: GilroyB;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 4rem;
    color: #06060b;
}
.platform-card-p {
    font-family: Aventa;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #717171;
}




.faq-container {
    padding: 15rem 10rem 8rem;
    background: #fbfbfd;
}
.faq-content, .accordion {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.faq-text {
    margin: 2.4rem 0;
}
.faq-h {
    font-family: GilroyB;
    font-weight: 800;
    font-size: 6.4rem;
    line-height: 8rem;
    color: #06060b;
}
.accordion {
    width: 73rem;
}
.accordion-item {
    cursor: pointer;
}
.accordion-item-header {
    margin-top: 4rem;
    padding-bottom: 2rem;
}
.accordion-header-h {
    font-family: Aventa;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #111021;
}
.accordion-body-p {
    font-family: Aventa;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.accordion-item-header::after {
    content: url("img/arrow-down.svg");
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    font-weight: 900;
    transition: transform .2s ease-in-out;
}
.accordion-item-header.active::after {
    content: url("img/arrow-down.svg");
    transform: rotate(180deg);
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
    border-bottom: .1rem solid;
    margin-top: 2rem;
}



.join-waitlist-bg {
    background: #fbfbfd;
}
.waitlist-video-bg {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -100;
}
.waitlist-video {
    width: 100%;
}
.join-waitlist-container {
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 28.5rem;
    height: 86rem;
}
.join-waitlist-header {
    margin: 0 auto 4rem;
    width: 83.4rem;
}
.join-waitlist-h {
    font-family: GilroyB;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 8rem;
}
.join-waitlist-text {
    width: 76rem;
    margin: 1.6rem auto 2rem;
}
.join-waitlist-p {
    font-family: Aventa;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2rem;
}
.waitlist-input {
    width: 71.6rem;
}


.community-container {
    padding-top: 5rem;
}
.community-text {
    width: 45rem;
    margin: 1.6rem auto 4rem;
}
.community-cards-container {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 15rem;
    gap: 2.4rem;
}
.community-header {
    width: 81rem;
    margin: 0 auto 2.4rem;
}
.community-h {
    font-family: GilroyB;
    font-weight: 700;
    line-height: 7.9rem;
    font-size: 6.4rem;
    color: #06060b;
}
.community-card {
    width: 18.3rem;
    height: 31.3rem;
    background: #fbfbfd;
    border: .1rem solid #e1e1e1;
    border-radius: .8rem;
    padding: 2.8rem 1.9rem 0;
    transition: all 400ms ease;
}
.community-card-icon {
    width: 5.6rem;
    height: 5.6rem;
    margin: 0 3rem 2.4rem 4.3rem;
}
.community-card-h {
    font-family: GilroyB;
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 800;
    color: #06060b;
}
.community-card-text {
    margin: .8rem auto 5.2rem;
}
.community-card-p {
    font-family: Aventa;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #06060b;
}
.visit-now {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.visit-now-text {
    margin-right: .8rem;
}
.visit-now-h {
    font-family: GilroyB;
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 2rem;
    background: linear-gradient(89.85deg, #DA151E -1.04%, #FF515A 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.visit-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: .4rem;
}
#cards-icon {
    display: none;
}



.footer-container {
    align-items: center;
    align-content: center;
    padding: 0 21rem 0 11.2rem;
    margin: 15rem 0 10rem;
}
.footer-logo {
    width: 12rem;
    height: 5.1rem;
    margin-bottom: 2.4rem;
}
#copyright-sm {
    display: none;
}
.copyright-h {
    font-family: Aventa;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #06060b;
}
.footer-gruve-color {
    font-family: Matter;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #ea445a;
}
.footer-community-header {
    margin-bottom: 1.6rem;
}
.footer-community-h {
    font-family: GilroyB;
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 4rem;
    color: #06060b;
}
.faq-footer-nav {
    margin-bottom: 1.6rem;
}
.footer-p {
    letter-spacing: 0.005em;
    color: #06060b;
}
.footer-dark {
    background: #06060b;
}
.footer-dark-content {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10rem 0;
}
.footer-dark-logo {
    margin: 0 auto;
    width: 9.5rem;
    height: 4rem;
}
.dark-footer-h {
    color: #fbfbfd;
    letter-spacing: 0.005em;
}
.dark-footer-icon, .dark-circle {
    width: 3.2rem;
    height: 3.2rem;
}
.dark-circle {
    border-radius: 50%;
    background: #202020;
}
.tiktok-dark-container {
    width: 1.8rem;
    height: 1.8rem;
    margin: .7rem 0 0 .7rem;
}
.dark-footer-nav {
    width: 28.7rem;
    margin: 4rem auto;
}
.dark-footer-icons {
    width: 31.2rem;
    margin: 0 auto;
}










@media (max-width: 1023px) {
    html {
        font-size: calc(100vw/1023 * 10);
    }
    .header-row {
        padding: 0 4.5rem;
    }
    .nav-logo {
        margin-right: 10rem;
    }
    .hero-container {
        margin: 2.9rem 7rem 10rem;
    }
    .hero-intro-content {
        flex-direction: column;
    }
    .hero-intro-container {
        width: 70rem;
        margin: 0 auto;
    }
    .hero-header {
        justify-content: center;
    }
    .hero-p-wrapper, .hero-small-text {
        text-align: center;
        justify-content: center;
        width: auto;
    }
    .hero-btn-container {
        margin-bottom: 5rem;
    }
    .hero-video-container {
        border-radius: 4rem;
        width: auto;
    }
    .hero-input {
        width: 45rem;
    }
    .whyGruve-attendees-card-container {
        padding: 0 1rem;
    }
    .whyGruve-cards-container {
        padding: 0 1rem;
        gap: 2rem;
    }
    .overlapping-content-container {
        margin: 0 5rem 15rem;
    }
    .overlapping-card {
        width: 90rem;
    }
    .motive-container {
        margin: 0 1rem 15rem;
        background-position: 35rem;
    }
    .motive-card {
        width: 40.7rem;
        height: 52.2rem;
        padding: 7.6rem 1rem;
    }
    .list-ticket-line {
        top: 2rem;
    }
    .creators-container {
        margin: 0 1rem 5rem;
    }
    .creators-list-text {
        width: 40rem;
        margin: .8rem 0 6rem;
    }
    .motive-creators-container {
        margin: 0 4rem 8rem;
        background-position: 34rem;
    }
    .motive-creators-card {
        width: 45rem;
        margin-left: 0;
        padding: 2rem;
    }
    .platform-container-text {
        width: 80rem;
    }
    #platform-cards-container-lg {
        display: none;
    }
    #platform-cards-container-md {
        display: block;
    }
    .platform-cards-firstContainer {
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 0 auto 3.2rem;
        gap: 2.4rem;
    }
    .platform-cards-secondContainer {
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 0 auto 3.2rem;
        gap: 2.4rem;
    }
    .platform-cards-thirdContainer {
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 0 auto 12rem;
        gap: 2.4rem;
    }
    .faq-container {
        padding: 5rem 7rem;
    }
    .faq-header {
        padding-right: 4rem;
        margin-top: 2.5rem;
    }
    .waitlist-input {
        width: 60rem;
    }
    .join-waitlist-container {
        padding-top: 14rem;
        height: 62rem;
    }
    .footer-container {
        padding: 0 6rem;
        margin: 8rem 0 5rem;
    }
    .community-cards-container {
        padding-bottom: 8rem;
    }
}



@media (max-width: 650px) {
    html {
        font-size: calc(100vw/650 * 10);
    }
    #header {
        display: none;
    }
    #mob-header {
        display: block;
        padding: 0 2rem;
    }
    .nav-logo {
        margin-right: 0;
    }
    .closeIcon {
        position: absolute;
        top: 2rem;
        right: 1.5rem;
        width: 5rem;
    }
    .hamburger {
        margin-top: 2rem;
        display: block;
        width: 4rem;
        height: 4rem;
    }
    .nav-list {
        flex-direction: column;
        background: none;
        margin-top: 14.2rem;
    }
    .mob-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #e5e5e5;
        overflow-x: hidden;
        transition: 0.7s;
    }
    .mob-nav-container {
        justify-content: unset;
    }
    .active-list-item {
        margin-top: 5.6rem;
    }
    .event-creators-padding {
        margin-left: 5rem;
    }
    .event-attendees {
        margin-left: 2rem;
    }
    .hero-container {
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 2.9rem 0 5rem;
        overflow-x: hidden;
    }
    .hero-intro-container {
        width: auto;
    }
    .hero-header {
        justify-content: unset;
    }
    .hero-text {
        width: 40rem;
    }
    .hero-p-wrapper, .hero-small-text {
        justify-content: unset;
        text-align: left;
    }
    .nav-btn {
        width: 15rem;
    }
    .hero-btn-container {
        flex-direction: column;
    }
    .hero-cta-btn, .hero-input {
        width: 40rem;
    }
    .nav-cta-btn {
        padding: 1.7rem 15rem;
        margin-top: 7.2rem;
    }
    .nav-cta-btn {
        margin-top: 7.2rem;
    }
    .hero-btn-text {
        text-align: center;
    }
    .attendees-hero-p-wrapper, .attendees-hero-small-text {
        width: 50rem;
    }
    .attendees-hero-p {
        font-size: 4rem;
        line-height: 6rem;
    }
    .attendees-btn-container {
        flex-direction: column;
        margin-top: 4rem;
    }
    .attendees-hero-input, .attendees-hero-btn {
        width: 90%;
        margin: 0 auto;
    }
    .attendees-hero-btn {
        padding: 2rem 23rem;
    }
    .hero-btn-img {
        display: none;
    }
    .whyGruve-container {
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 0 1.6rem 6rem;
        overflow-x: hidden;
    }
    .whyGruve-header, .whyGruve-small-text {
        width: auto;
    }
    .whyGruve-card {
        width: 43rem;
        height: 21.2rem;
        padding: 2.4rem 2.4rem 4rem;
        transform: none;
    }
    .whyGruve-card-1, .whyGruve-card-3 {
        transform: translateX(50%);
    }
    .whyGruve-card-2, .whyGruve-card-4 {
        transform: translateX(-50%);
    }
    .showcard {
        transform: translateX(0);
    }
    .whyGruve-attendees-header, .whyGruve-attendees-small-text {
        width: 45rem;
    }
    .whyGruve-attendees-card-container {
        flex-direction: column;
        padding: 0 10rem;
    }
    .overlapping-content-container {
        margin: 0 1rem 15rem;
    }
    .overlapping-card {
        width: 60rem;
        margin-bottom: 3rem;
    }
    .overlapping-content-header {
        width: 60rem;
        margin-bottom: 4rem;
    }
    .motive-container, .motive-creators-container {
        background-image: none;
    }
    .motive-wrapper {
        flex-direction: column-reverse;
    }
    .motive-icon {
        display: block;
        margin: 0 auto;
        width: 23rem;
        height: 19rem;
    }
    .motive-creators-icon {
        display: block;
        margin: 0 auto;
        width: 6.4rem;
        height: 6.4rem;
    }
    #motive-header-sm  {
        display: block;
    }
    .motive-header-sm {
        background: #fbfbfd;
        border-radius: 1.6rem;
        padding: 2.4rem 1.8rem;
        width: 60rem;
        height: 50rem;
        margin: 0 auto;
    }
    .creators-card-text {
        margin: 3rem 2rem;
    }
    .creators-cta-btn {
        width: 90%;
        margin: 0 auto;
        padding: 2.4rem 19rem;
    }
    .motive-sm-content {
        background: #fff;
    }
    #motive-header-lg {
        display: none;
    }
    .motive-creators-img-container {
        width: 8rem;
        height: 8rem;
        margin-left: 2rem;
    }
    .motive-creators-header {
        width: 45rem;
        margin-left: 2rem;
    }
    .motive-creators-h {
        line-height: 6rem;
        font-size: 4rem;
    }
    .motive-card {
        width: 60rem;
        height: 30rem;
        padding: 3rem;
        margin: 0 auto 6.4rem;
    }
    .motive-card-header {
        padding-top: 5.6rem;
    }
    .create-and-sell-container {
        margin: 0 0 6.4rem 4rem;
    }
    .cards-container {
        overflow-x: hidden;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .create-and-sell-btn {
        width: 32.7rem;
        padding: 0 11rem;
        margin: auto;
    }
    .three-easy-steps {
        margin-left: 0;
        background-position: 0 0;
    }
    .three-easy-steps-img {
        display: none;
    }
    .three-easy-steps-header {
        width: 35rem;
        text-align: center;
        margin: 18.4rem auto 5.6rem;
        padding-left: 0;
    }
    .three-easy-steps-h {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
    .create-and-sell-card {
        width: 45rem;
        height: 55.3rem;
    }
    .connect-wallet, .create-ticket, .list-ticket {
        flex-direction: column;
        padding: 0 2rem;
        position: relative;
        left: 0;
        background-image: none;
    }
    .connect-wallet-img {
        width: 42.5rem;
        height: 40.5rem;
        margin-bottom: 5.7rem;
        padding: .8rem;
    }
    .connect-wallet-picture {
        display: none;
    }
    .picture-container, .event-managers-video {
        width: 40.9rem;
        height: 23.9rem;
    }
    .connect-wallet-header {
        width: 45rem;
        margin: 2.4rem 0 2.4rem 4rem;
    }
    .connect-wallet-text {
        width: 29.5rem;
        margin: 0 0 4rem 4rem;
    }
    .connect-wallet-h {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
    .connect-wallet-p {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .create-ticket-video, .create-ticket-picture-container {
        width: 20rem;
        height: 25rem;
    }
    .create-ticket-img {
        width: 20.5rem;
        height: 27rem;
    }
    .number-one-container {
        width: 5.6rem;
        height: 5.6rem;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 4rem 0 0 4rem;
    }
    .number-one-h {
        font-size: 2.4rem;
        line-height: 3rem;
        padding-top: .4rem;
    }
    .creators-container {
        margin: 0 6rem 5rem;
    }
    .creators-header {
        margin: 0 2rem;
        text-align: left;
    }
    .creators-text {
        width: 45rem;
        text-align: left;
        margin: 1.6rem 2rem 4rem;
    }
    .creators-benefits-container {
        justify-content: unset;
        margin: 0 2rem;
    }
    .creators-list-container {
        width: 45rem;
    }
    .creators-svg-container {
        margin-right: 2rem;
    }
    .creators-list-text {
        width: 45rem;
    }
    .creators-img-container {
        display: none;
    }
    .join-waitlist-text {
        width: 32rem;
    }
    .join-waitlist-h {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
    .platform-container {
        margin: 0;
        padding-top: 5rem;
    }
    .platform-container-header {
        width: 57.8rem;
    }
    .community-header {
        width: 45rem;
        margin: 0 auto 3rem;
    }
    .platform-container-text {
        width: 60rem;
    }
    .platform-cards-firstContainer, .platform-cards-secondContainer, .platform-cards-thirdContainer {
        flex-direction: column;
    }
    .faq-content {
        flex-direction: column;
        margin-bottom: 8rem;
        padding-bottom: 5rem;
    }
    .faq-container {
        padding: 3rem 0 0;
    }
    .accordion {
        width: 53rem;
    }
    .aboutUs-container {
        padding: 4.8rem 3rem 4.8rem 2rem;
    }
    .aboutUs-cards-container {
        overflow-x: hidden;
        gap: 6rem;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .join-waitlist-container {
        padding: 8rem 0 3rem;
        height: auto;
    }
    .join-waitlist-header {
        width: 34.3rem;
        margin-bottom: 2.4rem;
    }
    .waitlist-cta-btn {
        margin-top: 0;
    }
    .waitlist-btn-container {
        gap: 1.6rem;
        margin-bottom: 4rem;
    }
    .waitlist-input, .waitlist-cta-btn {
        height: 5.2rem;
    }
    .waitlist-input {
        padding: 0 0 0 1.6rem;
    }
    .community-text {
        margin: 0 auto;
    }
    .community-container {
        padding-top: 5rem;
    }
    #cards-none {
        display: none;
    }
    #cards-icon {
        display: block;
    }
    .cards-icon {
        align-items: center;
        align-content: center;
        width: 45rem;
        margin: 4rem auto;
    }
    .community-card-icon {
        margin: 0;
        width: 4rem;
        height: 4rem;
    }
    .community-cards-container {
        flex-direction: column;
        padding: 5rem 0;
    }
    .footer-container {
        margin: 3rem 0;
    }
    #copyright-sm {
        display: block;
    }
    #copyright-lg {
        display: none;
    }
    .footer-logo {
        margin-bottom: .8rem;
        width: 7.2rem;
        height: 3rem;
    }
    .whyGruve-cards-container {
        flex-direction: column;
        padding: 0 9rem;
    }
    .motive-container {
        margin-bottom: 8rem;
    }
    .hero-small-text {
        width: 40rem;
    }
    .video-wrapper {
        height: 33rem;
    }
    .create-and-sell-card svg {
        display: none;
    }
}



@media (max-width: 485px) {
    html {
        font-size: calc(100vw/485 * 10);
    }
    .waitlist-input {
        width: 44rem;
    }
    .attendees-hero-p-wrapper, .attendees-hero-small-text {
        width: 45rem;
    }
    .attendees-hero-btn {
        padding: 2rem 16rem;
    }
    .overlapping-card {
        width: 45rem;
        margin-bottom: 3rem;
    }
    .overlapping-content-header {
        width: 45rem;
        margin-bottom: 3rem!important;
    }
    .create-and-sell-container {
        margin-left: 0;
    }
    .motive-container {
        margin-bottom: 4rem;
    }
    .motive-header-sm {
        width: 45rem;
        height: 40rem;
        margin: 0 auto 10rem;
    }
    .motive-creators-header {
        width: 40rem;
    }
    .creators-card-text {
        width: 38rem;
    }
    .creators-cta-btn {
        width: 90%;
        margin: 0 auto;
        padding: 2.4rem 13rem;
    }
    .faq-container {
        margin: 8rem 0 0;
    }
    .accordion {
        width: 40rem;
    }
    .accordion-header-h {
        font-family: GilroyB;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    .platform-container-header, .platform-container-text {
        width: 45rem;
    }
    .platform-container-text {
        margin-bottom: 4rem;
    }
    .platform-card {
        display: flex;
        width: 45rem;
        height: auto;
        border: none;
        padding: .5rem;
        border-radius: none;
        background: none;
    }
    .platform-card-img, .platform-card-video, .platform-video-wrapper {
        width: 9rem;
        height: 9rem;
    }
    .platform-video-wrapper {
        margin-right: 1.2rem;
    }
    .platform-text-container {
        width: 35rem;
    }
    .platform-card-header {
        margin: 1.2rem 0 0 0.2rem;
    }
    .platform-card-h {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .platform-card-p {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .community-text {
        width: 40rem;
    }
    .whyGruve-cards-container {
        padding: 0 1rem;
    }
    .whyGruve-attendees-card-container {
        padding: 0 2rem;
    }
    .motive-card {
        width: 45rem;
        height: 38rem;
    }
    .creators-container {
        margin: 0 2rem 5rem;
    }
    .creators-list-text {
        width: 40rem;
        margin: 0.8rem 0 2rem;
    }
    .creators-svg-container {
        height: 88rem;
    }
    .creators-svg-container svg {
        left: -0.8rem;
    }
    .join-waitlist-container {
        padding: 3rem 0;
        height: auto;
    }
}